<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Value</title>
    <!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/updata_con.css">
    <link rel="stylesheet" href="/assets/css/global_setting.css">
    <script   src="/assets/js/jquery-3.6.0.min.js"
              integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
              crossorigin="anonymous"></script>
</head>
<body>
    <div class="updata_con">
    <div class="header_updata_con">
        <h4>Updata con</h4>
        <a href="/connections"><button class="btn_back" type="submit"></button></a>
    </div>
<div class="up_table_and_btn">
    <form method="post" action="/updata_con">
        <table class="input_upadd_con">
            <tr>
                <th>driver</th>
                <th><select class="driver_class" name="driver">
                        {% if data.driver == 'snap7' %}
                        <option value="snap7" checked>snap7</option>
                        <option value="node-red">node-red</option>
                        {% endif %}
                        {% if data.driver == 'node-red' %}
                        <option value="snap7">snap7</option>
                        <option value="node-red" checked>node-red</option>
                        {% endif %}
                </select></th>
            </tr>
            <tr>
                <th>id:</th>
                <th>{{data.id}}<input type=hidden name="id" value={{data.id}}></th>
            </tr>
            <tr>
                <th>name:</th>
                <th><input type="text" name="name" value={{data.name}}></th>
            </tr>
            <tr class="ipClass">
                <th>ip:</th>
                <th><input pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" name="ip" value={{data.ip}}></th>
            </tr>
            <tr>
                <th>rack:</th>
                <th><input type="number" name="rack" value={{data.rack}}></th>
            </tr>
            <tr>
                <th>slot:</th>
                <th><input type="number" name="slot" value={{data.slot}}></th>
            </tr>
            <tr>
                <th>array</th>
                <th>
                    <select class="class_array" name="arrays">
                        {% if data.arrays == 'PA' %}
                        <option value="PA">Process Outputs</option>
                        <option value="DB">DB</option>
                        {% endif %}
                        {% if data.arrays == 'DB' %}
                        <option value="DB">DB</option>
                        <option value="PA">Process Outputs</option>
                        {% endif %}
                    </select>
                </th>
            </tr>
            <tr>
                <th>DB:</th>
                <th><input type="number" class="class_db" name="DB" value={{data.DB}}></th>
            </tr>
            <tr>
                <th>start:</th>
                <th><input type="number" name="start" value={{data.start}}></th>
            </tr>
            <tr>
                <th>offset:</th>
                <th><input type="number" name="offset" value={{data.offset}}></th>
            </tr>
        </table>
        
        <!-- <div>id:<input type="text" name="id" value={{data.id}}></div> -->
        <!-- <div>name:<input type="text" name="name" value={{data.name}}></div> -->
        <!-- <div>ip:<input type="text" name="ip" value={{data.ip}}></div> -->
        <!-- <div>rack:<input type="number" name="rack" value={{data.rack}}></div> -->
        <!-- <div>slot:<input type="number" name="slot" value={{data.slot}}></div> -->
        <!-- <div>DB:<input type="number" name="DB" value={{data.DB}}></div> -->
        <!-- <div>start:<input type="number" name="start" value={{data.start}}></div> -->
        <!-- <div>offset:<input type="number" name="offset" value={{data.offset}}></div> -->
        <div class="up_conn_btn">
            <button class="submit_btn_up" type="submit">Updata</button>
        </div>
    </form>
</div>
</div>
<script>
    $('.driver_class').on('change',function() {
        var value = $(this).val();

        if (value == "node-red" && !$('.portClass')[0]){
            $('.ipClass').after($(`
                <tr class="portClass">
                    <th>port</th>
                    <th><input type="number" name="port" value={{ data.port }}></th>
                </tr>
    `))
        };

        if (value == "snap7" && $('.portClass')[0]){
            $('.portClass').remove();
        };
    });

    $('.class_array').on('change',function (){
        var value = $(this).val();

        if (value == "PA") {
            $('.class_db').attr('readonly', true);
            $('.class_db').val(0);
        }
        else {
            $('.class_db').attr('readonly', false);
        }
    })

</script>
</body>
</html>
